# Ignore data file and notebook output
*.csv
*.h5
*.hdf5
*.sql
.ipynb_checkpoints/
data/

# Model files
*.pkl

# Cache files
app/cache/

# Ignore Python folder
__pycache__/
*.pyc

# Temporary files
*.log
*.tmp

# Virtual environment
.env
.venv
.env.*
env/
venv/
pyalgo.cfg
