<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Information</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Market Information</h1>
    <form action="/info">
        <input type="text" name="symbol" placeholder="Enter symbol">
        <button type="submit">Get Info</button>
    </form>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</body>
</html>

